/* Meida Query max-width 360px */
@media (max-width: #{$small}) {
  .app {
    width: 100%;
    width: 100%;
    border: 1px solid red;
    .header {
      flex-direction: column;
      width: 100%;

      border: 1px solid green;

      input {
        width: 5rem !important;
        background-color: red;
      }
    }
  }
}
